body {
	margin: 0;
	display: flex;
	flex-direction: column; 
}
.one {
	display: grid;
	grid-template-rows: 1000px 100px 1fr 1fr;
}
.oneone { 
	display: grid;
	grid-template-rows: repeat(20, 50px);
	grid-template-columns: repeat(auto-fill, 50px);
	background: linear-gradient(61deg, rgba(98,43,25,1) 3%, rgba(83,37,22,1) 45%, rgba(123,60,39,1) 100%);
}
.tiq {
	position: relative;
	grid-area: 4 / 5 / 14 / 18;
	color: white;
	font-size: 60px;
	font-family: "Merriweather", serif;

}
.openquiz {
	grid-row: 15;
	grid-column: 5 / 20;
	color: #E5BAA7;
	font-size: 20px;
	font-family: "Nunito Sans", serif;
}
a:visited {
	color: inherit;
}
.register {
	background-color: #EDCA90;
	margin-left: 10px;
	color: #532516;
	padding: 10px;
	margin: 0;
	font-size: 17px;
	border-radius: 7px;
}

.navbar {
	grid-column: 2 / 20;
	text-decoration: none;
	color: white;
	padding-right: 15px;
	padding-left: 100px;
	font-family: "Nunito Sans", serif;
}

.navdiv {
	display: flex;
	flex-basis: fit-content;
	align-items: center;
	justify-content: left;
	padding: 10px;
	padding-left: 30px;
}

.frame1 {
	grid-area: 1 / 27 / 15;
	filter: drop-shadow(#262523 16px 16px);
	padding: 0px;
	margin: 0px;
}

.frame2 {
	grid-area: 14 / 20;
}

li {
	list-style: none;
	display: inline-block;
}

li a{
	color: white;
	font-size: 19px;
	font-weight: bold;
	margin-right: 60px;
}

